# Local
DRIVER_APP_API_BASE_URL=http://localhost:3000/api/v1
DRIVER_APP_WS_BASE_URL=ws://localhost:3000/cable

# Production
# DRIVER_APP_API_BASE_URL=https://on2door-api.onrender.com/api/v1
# DRIVER_APP_WS_BASE_URL=wss://onfleet-utfr.onrender.com/cable

PORT=4173
